<%- include('partials/common_header'); %> 

  <body class="h-full bg-white dark:bg-slate-900">
    <div class="flex flex-no-wrap">
      <!-- Sidebar starts -->
      <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
      <%- include('partials/buyer_left_bar'); %>
      <!-- Sidebar ends -->
      <!-- Remove class [ h-64 ] when adding a card block -->
      <div class="container mx-auto overflow-auto">
        <%- include('partials/buyer_top_bar'); %>

        <%- include('partials/common_body'); %>
          <!-- Place your content here -->
            <!-- product list -->
            <section>
              <div class="bg-transparent">
                <div class="mx-auto max-w-2xl lg:max-w-7xl">
                  <h2 class="text-2xl font-bold tracking-tight">
                    Product List
                  </h2>

                  <div
                    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
                  >
                    <!-- Product View of 1st Product -->
                    <!-- Enter Ejs code here -->
                    <% products.forEach(product => { %>
                      <a href="/buyer/productView/<%= product.ID %>/"> 
                    <div class="group relative">
                      <div
                        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                      >
                        <img
                          src="<%= product.IMAGE %>"
                          alt="Image of product"
                          class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                        />
                      </div>
                      <div class="mt-4 flex justify-between">
                        <div>
                          <h3 class="text-sm">
                            <!-- <a href="#"> -->
                              <span
                                aria-hidden="true"
                                class="absolute inset-0"
                              ></span>
                              <%= product.NAME %>
                            <!-- </a> -->
                          </h3>
                          <p class="mt-1 text-sm"><%= product.VARIANT %></p>
                        </div>
                        <p class="text-sm font-medium">
                          <%= (product.FINAL_PRICE)/1000000000000000000 %><strong> ETH</strong>
                        </p>
                      </div>
                    </div>
                  </a>
                    <% }); %>
                    <!-- END of 1st product -->
                  </div>
                </div>
              </div>
              <!-- Pagination -->
              <div
                class="flex items-center justify-between border-gray-200 bg-transparent px-4 py-3 sm:px-6"
              >
                <div class="flex flex-1 justify-between sm:hidden">
                  <a
                    href="#"
                    class="relative inline-flex items-center rounded-md border border-gray-300 bg-transparent px-4 py-2 text-sm font-medium text-slate-700 dark:text-gray-300 hover:bg-gray-50"
                    >Previous</a
                  >
                  <a
                    href="#"
                    class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-transparent px-4 py-2 text-sm font-medium text-slate-700 dark:text-gray-300 hover:bg-gray-50"
                    >Next</a
                  >
                </div>
                <div
                  class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between"
                >
                  <div>
                    <p
                      class="text-sm text-gray-700 text-slate-700 dark:text-gray-300"
                    >
                      Showing
                      <span
                        class="font-medium text-slate-700 dark:text-gray-300"
                        >1</span
                      >
                      to
                      <span
                        class="font-medium text-slate-700 dark:text-gray-300"
                        >10</span
                      >
                      of
                      <span
                        class="font-medium text-slate-700 dark:text-gray-300"
                        >97</span
                      >
                      results
                    </p>
                  </div>
                  <div>
                    <nav
                      class="isolate inline-flex -space-x-px rounded-md shadow-sm"
                      aria-label="Pagination"
                    >
                      <a
                        href="#"
                        class="relative inline-flex items-center rounded-l-md px-2 py-2 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 text-slate-700 dark:text-gray-300"
                      >
                        <span class="sr-only">Previous</span>
                        <svg
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </a>
                      <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                      <a
                        href="#"
                        aria-current="page"
                        class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >1</a
                      >
                      <a
                        href="#"
                        class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                        >2</a
                      >
                      <a
                        href="#"
                        class="relative hidden items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
                        >3</a
                      >
                      <span
                        class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 focus:outline-offset-0"
                        >...</span
                      >
                      <a
                        href="#"
                        class="relative hidden items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
                        >8</a
                      >
                      <a
                        href="#"
                        class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                        >9</a
                      >
                      <a
                        href="#"
                        class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                        >10</a
                      >
                      <a
                        href="#"
                        class="relative inline-flex items-center rounded-r-md px-2 py-2 text-slate-700 dark:text-gray-300 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                      >
                        <span class="sr-only">Next</span>
                        <svg
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
          
        </div>
      </div>
      <%- include('partials/common_js'); %>
    </section>
  </body>
</html>
