<%- include('partials/common_header'); %> 

  <body class="h-full bg-white dark:bg-slate-900">
    <div class="flex flex-no-wrap">
      <!-- Sidebar starts -->
      <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
      <%- include('partials/seller_left_bar'); %>
      <!-- Sidebar ends -->
      <!-- Remove class [ h-64 ] when adding a card block -->
      <div class="container mx-auto overflow-auto">
        <%- include('partials/seller_top_bar'); %>

        <%- include('partials/common_body'); %>


            <!-- Place your content here -->
            <section>
              <div class="bg-transparent">
                <div class="mx-auto max-w-2xl lg:max-w-7xl">
                  <!-- add product code here -->
                  <div class="container mx-auto py-8 px-4">
                     <div class="max-w-md mx-auto bg-transparent rounded-lg shadow-lg dark:shadow-none p-6">
                       <h1 class="text-4xl font-bold mb-4 dark:text-neutral-200 text-slate-800">Add Product</h1>
                       <div class="flex flex-col gap-6">

                      <form id="add_form" method="POST" action="/seller/productAdd/" enctype="multipart/form-data">
                         <label for="productName" class="block font-semibold dark:text-neutral-200 text-slate-700">Product Name</label>
                         <input type="text" 
                         name="productName"  id="productName" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500" placeholder="Enter product name">
                 
                         <label for="stock" class="block font-semibold dark:text-neutral-200 text-slate-700"> Stock</label>
                         <input type="number" name="stock" id="stock" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500" placeholder="Enter inventory stock">
                 
                         <label for="price" class="block font-semibold dark:text-neutral-200 text-slate-700">Price (ETH)</label>
                         <input type="text" name="price"  id="price" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500" placeholder="Enter price">
        
                 
                         <label for="variant" class="block font-semibold dark:text-neutral-200 text-slate-700">Variant</label>
                         <input type="text" name="variant" id="variant" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500" placeholder="Enter size values separated by commas">
                 
                 
                         <label for="image" class="block font-semibold dark:text-neutral-200 text-slate-700">Image</label>
                         <input type="file" name="image" id="image" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500">
                 
                         <!-- <label for="update-stock" class="block font-semibold dark:text-neutral-200 text-slate-700">Update Inventory Stock</label>
                         <input type="number" id="update-stock" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-2 bg-transparent dark:text-neutral-200 text-slate-700 focus:border-blue-500" placeholder="Enter updates for inventory stock"> -->
                 
                         <button
                         type="submit" class="bg-blue-800 hover:bg-blue-600 text-white px-4 py-2 w-full rounded-lg">Add Product</button>
                         </form>
                       </div>
                     </div>
              </div>
            </section>
          
        </div>
      </div>
    </section>ƒ
    <%- include('partials/common_js'); %>
    <%- include('partials/common_scripts'); %>
    <script>
      $(document).ready(function () { 
        // When product needs to be added
        function sellerProductAddFormHandler(e, formObj) {
          // console.log("Dhukse")
          e.preventDefault();
          e.stopPropagation();

          var form = formObj;
          var url = form.attr("action");

          var formData = new FormData(form[0]);
          $.ajax({
            type: "POST",
            url: url,
            data: formData,  // Use the FormData object instead of form.serialize()
            processData: false, // Important! Prevents jQuery from processing the data
            contentType: false, // Important! Let the server handle the content type
            success: function (data) {
              // Ajax call completed successfully
              if (data.code == 200) {
                // console.log(data.data);
                addProductToChain(data.data);
              }
            },
            error: function (data) {
              // Some error in ajax call
              alert("some Error");
            },
          });
        }

        async function addProductToChain(data) {
          console.log("inside chain function");
          console.log(data);
          if (typeof window.ethereum !== "undefined") {
            const provider = new ethers.providers.Web3Provider(window.ethereum);


            try {
              await window.ethereum.request({
                method: "eth_requestAccounts",
              });
            } catch (error) {
              console.error("Permission denied:", error);
            }
            // Create a contract instance
            const contractAddress = "<%=process.env.ECMART_CONTRACT_ADDRESS%>";
            // ABI of your contract
            var url = "/abi/get/facetAbi/<%=process.env.CHAIN_PRODUCT_FACET_NAME%>/";
            $.ajax({
            type: "GET",
            url: url,
            success: function (abi) {
              
                console.log(abi);
                const contractAbi = abi;
                add(contractAddress,contractAbi,provider, data);
              
            },
            error: function (data) {
              // Some error in ajax call
              alert("some Error");
            },
          });

          

            // const result1 = await contract.viewProducts(
            //   "0xdd2fd4581271e230360230f9337d5c0430bf44c0"
            // );
            // await result.wait(1);
            // console.log(result1);
          }
          else{
            console.log("Metamask is not initiated Properly !!")
          }
        }

        async function add(contractAddress, contractAbi,provider, data){
            const contract = new ethers.Contract(
              contractAddress,
              contractAbi,
              provider.getSigner()
            );
           

            const result = await contract.addProduct(
              data.productName,
              data.price,
              data.variant,
              data.stock,
              data.id
            );
            await result.wait(1);
            console.log(result);
            window.location.href = window.location.href;
          }
            

     
        $("#add_form").submit(function (e) {
          console.log("------------ PRoduct Add Data ENDS ---------------- ");
          // Change the value to WEI before sending it to Chain && DB
          let priceField = $("#price"); 
          priceField.val(priceField.val()*1000000000000000000);

          sellerProductAddFormHandler(e, $(this));
        });

        
      });




    </script>
  </body>
</html>
