<%- include('partials/common_header'); %> 

  <body class="h-full bg-white dark:bg-slate-900">
    <div class="flex flex-no-wrap">
      <!-- Sidebar starts -->
      <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
      <%- include('partials/seller_left_bar'); %>
      <!-- Sidebar ends -->
      <!-- Remove class [ h-64 ] when adding a card block -->
      <div class="container mx-auto overflow-auto">
        <%- include('partials/seller_top_bar'); %>

        <%- include('partials/common_body'); %>
            <!-- Place your content here -->

            <section>
              <h1
                class="text-slate-700 dark:text-gray-300 text-3xl font-semibold mb-4"
              >
              <br>
                Welcome Seller, <b> <%= username %> </b> !!!!
              </h1>
            </section>
          
        </div>
      </div>
      <%- include('partials/common_js'); %>
    </section>
  </body>
</html>
